Flask==3.1.2
beautifulsoup4==4.14.3
bs4==0.0.2
frozendict==2.4.7
geopy==2.4.1
ipython==8.18.1
kafka-python==2.3.0
matplotlib==3.9.4
py4j==0.10.9.9
pyelasticsearch==1.4.1
Flask-SocketIO
Flask-PyMongo
iso8601
dnspython
joblib
gevent
gevent-websocket
