# Flask Service
apiVersion: v1
kind: Service
metadata:
  name: flask
  namespace: pc-k8s
spec:
  selector:
    app: flask
  ports:
    - protocol: TCP
      port: 5001
      targetPort: 5001
  type: ClusterIP
