# Kafka Service
apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: pc-k8s
spec:
  selector:
    app: kafka
  ports:
    - protocol: TCP
      port: 9092
      targetPort: 9092
  type: ClusterIP
