# Spark Worker 1 Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: spark-worker-1
  namespace: pc-k8s
  labels:
    app: spark-worker-1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spark-worker-1
  template:
    metadata:
      labels:
        app: spark-worker-1
    spec:
      containers:
        - name: spark-worker-1
          image: spark-worker-1-custom:3.5.3
          ports:
            - containerPort: 8081
          env:
            - name: SPARK_MODE
              value: "worker"
            - name: SPARK_MASTER_URL
              value: "spark://spark-master:7077"
            - name: SPARK_RPC_AUTHENTICATION_ENABLED
              value: "no"
            - name: SPARK_RPC_ENCRYPTION_ENABLED
              value: "no"
            - name: SPARK_SSL_ENABLED
              value: "no"
            - name: SPARK_WORKER_CORES
              value: "2"
            - name: SPARK_WORKER_MEMORY
              value: "2g"
          volumeMounts:
            - name: models
              mountPath: /practica_creativa/models
          resources:
            requests:
              memory: "2Gi"
              cpu: "2"
            limits:
              memory: "2Gi"
              cpu: "2"
      volumes:
        - name: models
          hostPath:
            path: /models
      restartPolicy: Always
