# Spark Submit Job
apiVersion: batch/v1
kind: Job
metadata:
  name: sparksubmit
  namespace: pc-k8s
spec:
  template:
    spec:
      containers:
        - name: sparksubmit
          image: sparksubmit-custom:3.5.3
          imagePullPolicy: IfNotPresent
          env:
            - name: SPARK_MASTER_URL
              value: "spark://spark-master-svc:7077"
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: MONGO_HOST
              value: "mongo-svc"
            - name: MONGO_PORT
              value: "27017"
            - name: MONGO_USER
              value: "root"
            - name: MONGO_PASS
              value: "example"
            - name: MONGO_AUTH_DB
              value: "admin"
            - name: MONGO_DB
              value: "agile_data_science"
          command:
            - "spark-submit"
            - "--class"
            - "es.upm.dit.ging.predictor.MakePrediction"
            - "--master"
            - "$(SPARK_MASTER_URL)"
            - "--conf"
            - "spark.executor.memory=1536m"
            - "--conf"
            - "spark.driver.host=$(POD_IP)"
            - "--conf"
            - "spark.driver.memory=1536m"
            - "--conf"
            - "spark.cores.max=1"
            - "--packages"
            - "org.mongodb.spark:mongo-spark-connector_2.12:10.4.1,org.apache.spark:spark-sql-kafka-0-10_2.12:3.5.3"
            - "/practica_creativa/flight_prediction/target/scala-2.12/flight_prediction_2.12-0.1.jar"

          resources:
            requests:
              memory: "2Gi"
              cpu: "0.5"
            limits:
              memory: "2Gi"
              cpu: "1"

      restartPolicy: OnFailure
